*{
    padding: 0;
    margin: 0;
}

.container{
    background-image: url(/Images/nbg.jpg);
    width: 99%;
    height: 100vh;
    background-repeat: no-repeat;
    margin-left: 0.1vw;
}

.tag{
    color: red;
    word-spacing: 1%;
    font-size: 45px;
    padding-top: 0.5em;
    float: left;
    padding-left: 1em;
    font-family: 'Bebas Neue', cursive;
}

.button{
    float: right;
    color: white;
    margin-top: 1.5em;
    background-color: red;
    margin-right: 3em;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    border: 2px solid red;
}
.button_in{
    color: white;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

.title{
    color: white;
    text-align: center;
    padding-top: 25vh;
    font-size: 50px;
    padding-right:20vw;
    font-family: 'Goblin One', cursive;
    padding-left:20vw;
}

.title_in{
    color: white;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    text-align: center;
    font-size: 22px;
}

.tagline{
    color: white;
    text-align: center;
    font-size: 20px;
}

.division{
    padding-top: 1.2em;
    text-align: center;
}

#Email_id{
    padding: 10px 10px;
    
    outline: none;
}

.h4{
    display: inline-block;
    border: 2px solid red;
    padding: 8.5px 50px;
    background-color: red;
    color: white;
    cursor:pointer;

}

@media  screen and (max-width:500px) and (max-height:650px) {
    .container{
        height: 100%;
        background-attachment: fixed;
    }
}